*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: darkgrey;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.1em;
	margin-top: 0.1em;
	background-color: green;
}

.buttons button {
	font-family: fantasy;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
	color: white;
	background-color: green;
	padding: 10px;
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: bold;
}

.buttons button:hover {
	text-decoration: underline;
	font-size: 1.2em;
}

.pong-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3em;
}

#ping-pong {
	width: 80%;
	max-width: 680px;
	border: 12px solid white;
}

